[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/pau-assemblers"]
	path = lib/pau-assemblers
	url = https://github.com/sky-ecosystem/pau-assemblers
